<nav>
    <div class = "site-title">
 
        
        <a href = '/' ><h1 class = "titleHP">Blog hut</h1></a>
        <p class = "sloganHP">A place to express yourself</p>

    </div>
    <ul>
        <li><a href = "/" class="blogsHP">Blogs</a></li>
        <li><a href = "/blogs/create" class = "createHP">Create</a></li>
        <li><a href = "/about" class = "aboutHP">About</a></li>
    </ul>
</nav>