<!DOCTYPE html>
<html lang="en">
    <%- include("/Users/jamesnguyen/Documents/node ninja/partials/head.ejs") %>
<body>
    <%- include('/Users/jamesnguyen/Documents/node ninja/partials/nav.ejs') %>
    
    <div class = "About content">
        <h2>About Us</h2>
        <p>Blog Hut is a place where you can allow your thoughts to run free and truly express yourself</p>
        
        
    
    </div>
    <%- include("/Users/jamesnguyen/Documents/node ninja/partials/footer.ejs") %>
</body>
</html>